@import url(./variables.css);
.form-content {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.form-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image-upload-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.form-group label {
  font-weight: bold;
  color: var(--text-color);
}

.form-group input {
  padding: 8px;
  border: 1px solid var(--button-color);
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.form-group textarea {
  height: 100px;
  width: 100px;
  padding: 8px;
  border: 1px solid var(--hover-color);
  border-radius: 8px;
  width: 100%;
  outline: none;
}

input::placeholder {
  color: var(--hover-color);
}

.image-preview {
  width: 100%;
  height: 250px;
  margin-block: 10px;
  border: 2px dashed var(--icon-color);
  background-color: var(--sideback-ground);
  border-radius: 8px;
}
.image-preview img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
}

.upload-box {
  display: flex;
  border: 2px dashed var(--icon-color);
  background-color: var(--sideback-ground);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.upload-box input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--button-color);
  color: var(--white-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-container button:hover {
  background-color: var(--icon-color);
}
/* Add_Product.css */

/* إضافة أنماط للرسائل العامة */
.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;
}

// ______________________________________________________________________
.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;
}

/* نمط رسالة الخطأ */
.error-message {
  color: #fff;
  background-color: #f44336; /* لون أحمر للخطأ */
  border: 1px solid #d32f2f;
}

/* نمط رسالة النجاح */
.success-message {
  color: #fff;
  background-color: #4caf50; /* لون أخضر للنجاح */
  border: 1px solid #388e3c;
}

/* تحسين نمط الرسائل عند مرور الماوس فوقها */
.message:hover {
  opacity: 0.9;
}
