@import url("./variables.css");

.order-list-container {
  margin: 0 auto;
  padding: 20px;
  border: 2px solid var(--icon-color);
  border-radius: 12px;
}

.order-list-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 20px;
}

.order-list-table th {
  padding: 12px 16px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.order-list-table td {
  padding: 8px;
  text-align: center;
  color: var(--button-color);
  font-size: 14px;
}

.order-list-table tr {
  border-bottom: 1px solid var(--header-color);
  background-color: var(--white-color);
}

.order-list-table tr:last-of-type {
  border-bottom: none !important;
}

.order-list-table td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.order-list-table td:last-child {
  text-align: center;
}

.order-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-btn,
.add-order-btn {
  background-color: var(--button-color);
  border: none;
  color: var(--white-color);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.order-btn:hover,
.add-order-btn:hover {
  background-color: var(--icon-color);
  transform: scale(1.09);
}

.order-list-table td input {
  border: 1px solid var(--button-color);
  padding: 4px 8px;
}

.order-products-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-status-new {
  color: var(--blue-color) !important;
}

.order-status-preparing {
  color: var(--yellow-color) !important;
}

.order-status-completed {
  color: var(--green-color) !important;
}

.order-status-cancelled {
  color: var(--danger-color) !important;
}
.quantity {
  font-weight: 700;
  color: var(--green-color);
}
.unite_price {
  font-weight: 700;
  color: var(--danger-color);
}

/* ________________________________________________________________________________ */
@media (max-width: 480px) {
  .order-list-container {
    padding: 10px;
  }
  .order-list-table {
    border-spacing: 0;
  }

  .order-list-table thead {
    display: none;
  }

  .order-list-table,
  .order-list-table tbody,
  .order-list-table tr,
  .order-list-table td {
    display: block;
    width: 100%;
  }

  .order-list-table tr {
    border-bottom: 1px solid var(--header-color);
    margin-bottom: 10px;
  }

  .order-list-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--header-color);
    position: relative !important;
    box-sizing: border-box;
  }

  .order-list-table td::before {
    content: attr(data-label);
    position: relative;
    left: 0;
    width: 15%;
    padding-left: 5px;
    font-size: 14px !important;
    font-weight: bold;
    color: var(--icon-color);
    text-align: left;
    background-color: var(--white-color);
  }

  .order-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .order-btn,
  .add-order-btn {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .order-products-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
