@import url("./variables.css");

header {
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  display: block;
  line-height: 12px;
  text-align: start;
  margin-bottom: 20px;
  padding: 0;
  & h1 {
    color: var(--header-color);
    margin: 0;
    padding: 0;
  }
  & a {
    color: var(--button-color);
  }
}
